<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.png" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Write a Movie Review</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #202020;
      color: #f5f5f5;
    }
    .review-container {
      background-color: #333;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .form-label {
      color: #61dafb;
    }
    .btn-custom {
      background-color: #61dafb;
      color: #fff;
      transition: background-color 0.3s;
    }
    .btn-custom:hover {
      background-color: #4a9fcb;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <h1 class="text-center mb-4">Write a Movie Review</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="review-container">
        <form action="#" th:action="@{/writereview}" th:object="${review}" method="post">
         
        
          <div class="form-group">
            <label for="rating" class="form-label">Rating (1-5)</label>
            <select id="rating" name="rating"  th:field="*{rating}" class="form-control" required>
              <option value="" disabled selected>Select rating</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="form-group">
              <label for="description" class="form-label">Description</label>
              <input id="description" name="description" type="text" th:field="*{description}" class="form-control"  required>
            <label for="body" class="form-label">Review</label>
            <textarea  id="body" name="body" th:field="*{body}" rows="5" class="form-control" placeholder="Write your review here..." required></textarea>
          </div>
          <button type="submit" class="btn btn-custom btn-block mt-3">Submit Review</button>
        </form>
      </div>
    </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
